<div class="col-md-12">
  <% if @articles.blank? %>
  <br>
  <h3 class="text-center">
    未找到匹配的文章，请调整关键词
  </h3>
  <% else %>
  <h3 class="text-center" > 共找到 <%= @articles.count %>篇文章</h3>
  <br>
  <%= form_tag bulk_update_admin_articles_path, :class => "form-inline" do %>
  <p>
    <%= select_tag :article_status, options_for_select(Article::STATUS.map{|s|[t(s,:scope => "article.status"),s]}),:prompt => "请选择状态",:class => "form-control"  %>
    <%= select_tag :article_kind, options_for_select(Article::KIND.map{|k|[t(k,:scope => "article.kind"),k]}),:prompt => "请选择分类",:class => "form-control"%>
    <%= submit_tag t(:bulk_update), :class => "btn btn-primary" %>
    <%= submit_tag t(:bulk_delete), :class => "btn btn-danger", :data => {confirm: "确定删除?"} %>
  </p>
  <table class="table">
    <thead>
      <tr>
        <td><%= check_box_tag "全选","1",false, :id => "toggle_all" %></td>
        <td>标题</td>
        <td>状态</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody id="article-list">
      <% @articles.each do |article| %>
      <%= render :partial => "move", :locals => {:article => article}%>
      <% end %>
    </tbody>
  </table>
  <% end %>

  <div class="text-center">
    <div class="pagination">
    <%= will_paginate @articles, renderer: BootstrapPagination::Rails,:previous_label => t('上一页'), :next_label => t('下一页') %>
    </div>
  </div>
  <% end %>
</div>

<script>
// 这个javascript会绑定事件在 #toggle_all核选方块上，来实作全选效果
$("#toggle_all").click(function(){
  if ($(this).prop("checked")){
    $("input[name= 'ids[]']").prop("checked",true);
  }
  else{
    $("input[name= 'ids[]']").prop("checked",false);
  }
})

</script>
