<div class="col-md-12">
  <div class="article">
    <br>
    <%= link_to("写文章",new_admin_article_path,class: "btn btn-sm btn-default pull-right") %>

  </div>

<div class="dropdown clearfix pull-right">
  <button class="btn btn-default dropdown-toggle" type = "button" id= "dropdownMenuDivider" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded ="true">
    排序
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li>
      <%= link_to("默认排序",admin_articles_path) %>
    </li>
    <li>
      <%= link_to("按照发表时间排序",admin_articles_path(:order => "by_created_at")) %>
    </li>
  </ul>
</div>

<%= form_tag bulk_update_admin_articles_path, :class => "form-inline" do %>
  <table class="table">
    <thead>
      <tr>
        <td><%= check_box_tag "全选", "1", false, :id => "toggle_all" %></td>
        <td>标题</td>
        <td>状态</td>
        <td>类别</td>
        <td>标签</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody id="article-list">
      <% @articles.each do |article| %>
      <%= render :partial => "move", :locals => {:article => article}%>
      <% end %>
    </tbody>
  </table>
  <p>
    <%= select_tag :article_status, options_for_select(Article::STATUS.map{|s|[t(s,:scope => "article.status"),s]}), :class => "form-control"  %>
    <%= select_tag :article_kind, options_for_select(Article::KIND.map{|k|[t(k,:scope => "article.kind"),k]}), :class => "form-control"%>
    <%= submit_tag t(:bulk_update), :class => "btn btn-primary" %>
    <%= submit_tag t(:bulk_delete), :class => "btn btn-danger", :data => {confirm: "确定删除?"} %>
  </p>
  <% end %>

  <div class="text-center">
    <div class="pagination">
      <%= will_paginate @articles, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
    </div>
  </div>
</div>

<script>
// 这个javascript会绑定事件在 #toggle_all核选方块上，来实作全选效果
$("#toggle_all").click(function(){
  if ($(this).prop("checked")){
    $("input[name= 'ids[]']").prop("checked",true);
  }
  else{
    $("input[name= 'ids[]']").prop("checked",false);
  }
})



</script>
