<div class="col-md-12">
  <div class="article">
  </div>
  <h2><%= @article.title %></h2>
  <p><%= markdown(@article.description)%></p>
  <% @article.labels.each do |label| %>
  <div class="btn btn-default btn-sm"> <%= label.try(:name)%> </div>
  <% end %>

  <div class="comment-create">
  <%= simple_form_for [@article,@comment],:remote => true do |f|%>
  <%= f.input :content ,label:"评论", placeholder: "写下你的评论",hint: "(留言内容不能为空)"%>
  <%= f.submit "提交",disable_with: "提交中...", class: "btn btn-primary"%>
  <% end %>
    </div>

  <div class="users-comments " >
      <h3 id="comment-count"><%= @comments.count %>条评论</h3>
      <div id="comment-list">
      <% @comments.each do |comment| %>
      <%= render :partial => 'comments/comment', :locals => {:comment => comment} %>
      <% end %>
      </div>
    </div>

    <p>
      <!-- 暂时取消"回复"功能的实作 -->
      <!-- <a id="open">回复</a> -->
    </p>

    <div id="reply">
      <a id="hide">收起</a>
      <div class="comment-create">
      <%= simple_form_for [@article,@comment] do |f|%>
      <%= f.input :content ,label:"评论", placeholder: "写下你的评论"%>
      <%= f.submit "提交",disable_with: "提交中...", class: "btn btn-primary"%>
      <% end %>
        </div>
    </div>

</div>


<script>
  $("#reply").hide();

  $("#open").click(function(){
    $("#reply").show();
    $("#open").hide();
  })

  $("#hide").click(function(){
    $("#reply").hide();
    $("#open").show();
  })
</script>
