<div class="col-md-12">
  <div class="article">
  </div>
  <h2><%= @article.title %></h2>
  <p><%= markdown(@article.description)%></p>
  <% @article.labels.each do |label| %>
  <div class="btn btn-default btn-sm"> <%= label.try(:name)%> </div>
  <% end %>

  <div class="comment-create">
  <%= simple_form_for [@article,@comment] do |f|%>
  <%= f.input :content ,label:"评论", placeholder: "写下你的评论"%>
  <%= f.submit "提交",disable_with: "提交中...", class: "btn btn-primary"%>
  <% end %>
    </div>

  <div class="users-comments " >
    <% if @comments.empty? %>
    <h3>0 条评论</h3>
    <% else %>
    <h3><%= @comments.count %>条评论</h3>
    <% @comments.each do |comment| %>
    <div class="comment"  style="display:block;">
    <%=simple_format(comment.content)%>
    <%= comment.user.email %>
    发布于<%= time_ago_in_words(comment.created_at)%>前
    <% end %>
    </div>
    <% end %>
    </div>

    <p>
      <!-- 暂时取消"回复"功能的实作 -->
      <!-- <a id="open">回复</a> -->
    </p>

    <div id="reply">
      <a id="hide">收起</a>
      <div class="comment-create">
      <%= simple_form_for [@article,@comment] do |f|%>
      <%= f.input :content ,label:"评论", placeholder: "写下你的评论"%>
      <%= f.submit "提交",disable_with: "提交中...", class: "btn btn-primary"%>
      <% end %>
        </div>
    </div>

</div>


<script>
  $("#reply").hide();

  $("#open").click(function(){
    $("#reply").show();
    $("#open").hide();
  })

  $("#hide").click(function(){
    $("#reply").hide();
    $("#open").show();
  })
</script>
